<h1>All Robots in RoboWorld</h1>

  <% @robots.each do |robot| %>
  <h3><%= robot.id %>: <%= robot.name %><a href="/robots/<%= robot.id %>"><img src="https://robohash.org/<%= robot.avatar %>.png"></a></h3>
  <a href="/robots/<%= robot.id %>/edit">Edit</a>
  <form action="/robots/<%= robot.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete <%= robot.name %> permanently"/>
  </form>
<% end %>
