<a href="/robots">Back to All Robots</a>

<h1>This is <%= @robot.name %>, the robot</h1>

<img src="https://robohash.org/<% robot.avatar %>.png"/>

<p><%= @robot.name %> is from <%= @robot.city %>, <%= @robot.state %> and was created on <%= @robot.birthday %>.
